/*
	Theme Name: Ntcube-Basic
	Theme URI: https://nt-theme.ntcube.co.kr
	Description: 엔티큐브 제작용 테마입니다.
	Version: 1.6.3
	Author: NTCUBE
	Author URI: http://ntcube.co.kr
    Tags: blog, custom-background, custom-menu, custom-logo, editor-style
    License: GNU GPL
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
    Text Domain: ntcube-basic
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* html element 62.5% font-size for REM use */
html {
    font-size: 62.5%;
}

body {
    font: 400 11px/1.4 'Noto Sans KR', sans-serif;
    color: #444;
}

.body-box {
    max-width: 1200px;
    margin: 0 auto;
}

/* clear */
.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    color: #444;
    text-decoration: none;
    font-family: 'notokr-bold', sans-serif
}

a:hover {
    color: #444;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

ul {
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    line-height: 1.4;
    margin: 0 0 0.75em;
    padding: 1.5em 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    padding-top: 0;
}

h1 {
    color: #333;
    font-size: 32px;
    font-weight: 900;
}

h2,
.home.blog .entry-title {
    color: #333;
    font-size: 25px;
    font-weight: 900;
}

h3 {
    color: #333;
    font-size: 20px;
    font-weight: 900;
}

h4 {
    color: #333;
    font-size: 18px;
    font-weight: 900;
}

h5 {
    color: #333;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

h6 {
    color: #333;
    font-size: 15px;
    font-weight: 900;
}

input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

/* header */
.header {

    border-bottom: 1px solid #e3e3e3;
}

.header-box {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* logo */
.logo {
    display: inline-block;
}

.logo-img {}

/* nav */
.nav {
    display: inline-block;
    float: right;
}

.nav ul {
    padding: 0;
    display: inline-block;
    float: right;
}

.nav ul li {
    display: inline-block;
    color: #fff;
}

.active {}

.active a {}

.nav ul li a {}

.sub-menu li {}

/* sidebar */
.sidebar {}

/* footer */
.footer {}

.copyright {
    max-width: 1200px;
    margin: 0 auto;
}

/* 404 */
#post-404 {
    margin: 10% auto;
    max-width: 525px;
    border: 1px solid #e3e3e3;
    padding: 30px 50px;
}

/* search */
.search {
    text-align: center;
    margin-bottom: 3%;
}

.search-input {
    height: 30px;
}

.search-submit {
    height: 30px;
    vertical-align: bottom;
    padding: 0px 20px;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
    background: #f5f5f5;
}

/* button */
.button-basic {
    border: 1px solid #333;
    padding: 5px 10px;
    font-size: 16px;
    margin: 0px 10px;
    background: #fdfdfd;
    vertical-align: middle;
}

.button-basic:hover {
    background: #000;
    color: #fff;
}

/*------------------------------------*\
    TEMPLETES
\*------------------------------------*/
#left-sidebar {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

#sidebar-templete {
    display: inline-block;
    width: 79%;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/

#content-box {
    text-align: center;
}

.pcviewno {
    display: none;
}

/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

/* * Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media only screen and (max-width: 949px) {
    .header-box {
        display: none
    }

    .nav-box {
        display: none;
    }

}


.tops {
    position: relative;
    position: fixed;
    bottom: 0;
    right: 1%;
    width: 50px;
    height: 40px;
    color: #fff;
    background-color: rgb(20, 20, 20);
    border-radius: 10px 10px 0 0;
    line-height: 35px;
    cursor: pointer;
    display: none;
}

.tops:hover {
    background-color: rgb(80, 80, 80)
}

#span1 {
    position: absolute;
    width: 20px;
    border: 1px solid white;
    transform: rotate(135deg);
    left: 17%;
    top: 50%;
}

#span2 {
    position: absolute;
    width: 20px;
    border: 1px solid white;
    transform: rotate(45deg);
    right: 17%;
    top: 50%;
}




/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #FFF;
    border: 1px solid #F0F0F0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.sticky {}

.bypostauthor {}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/*------------------------------------*\
    Dropdownmenu
\*------------------------------------*/

/* Start dropdownmenu css*/
#dropdownmenu {
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    background: transparent;
    font-size: 12px;
}

#dropdownmenu a {
    background: transparent;
    color: #333;
    padding: 0 20px;
    display: block;
    text-decoration: none;
}

#dropdownmenu ul,
#dropdownmenu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#dropdownmenu > ul {
    position: relative;
    z-index: 597;
    *display: inline-block;
}

#dropdownmenu:after,
#dropdownmenu ul:after {
    content: '';
    display: block;
    clear: both;
}

#dropdownmenu ul {
    text-transform: uppercase;
}

#dropdownmenu ul li {
    float: left;
    min-height: 1px;
    vertical-align: middle;
    padding: 20px 0px;
}

#dropdownmenu ul ul {
    text-transform: none;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
    bottom: 0;
    margin-top: 0;
}

#dropdownmenu ul ul a {
    background: #ffffff;
    color: #000;
    border: 1px solid #e3e3e3;
    border-top: 0 none;
    padding: 12px 20px;
    font-size: 12px;
    min-width: 180px;
}

#dropdownmenu ul ul li {
    float: none;
    position: relative;
    font-weight: normal;
    padding: 0px;
}

#dropdownmenu ul ul ul {
    top: 0;
    left: 180px;
    width: 180px;
    border-top: 0 none;
}

#dropdownmenu ul li.hover,
#dropdownmenu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

#dropdownmenu ul li:hover > ul {
    visibility: visible;
}

#dropdownmenu ul ul li:first-child > a {
    border-top: 1px solid #e3e3e3;
}

#dropdownmenu ul ul li:last-child > a {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#dropdownmenu ul ul li:last-child:hover > a {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#dropdownmenu ul ul li.has-sub > a:after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
}

#dropdownmenu ul li:hover > a,
#dropdownmenu ul li.active > a {
    color: #ed9528;
}

#dropdownmenu ul li.has-sub > a:after {
    content: '+';
    margin-left: 5px;
}

#dropdownmenu ul li.last ul {
    left: auto;
    right: 0;
}

#dropdownmenu ul li.last ul ul {
    left: auto;
    right: 99.5%;
}

#dropdownmenu ul li ul li.menu-item-object-page a {
    border-right: 1px solid #e3e3e3;
}

#dropdownmenu > ul > li > a {
    font-size: 12px;
    border-right: 1px solid #e3e3e3;
}

#dropdownmenu ul li:first-child a {
    border-right: 1px solid #e3e3e3;
}

#dropdownmenu ul li:last-child a {
    border-right: 0px;
}

#dropdownmenu ul ul li:last-child a {
    border-right: 1px solid #e3e3e3 !important;
}

#dropdownmenu ul li.current_page_ancestor a {
    color: #ed9528;
}

#dropdownmenu ul li.current_page_ancestor ul li:hover a {
    color: #ed9528;
}

#dropdownmenu ul li.current_page_ancestor ul li a {
    color: #000;
}

#dropdownmenu ul li.current_page_ancestor ul li.active a {
    color: #ed9528;
}

#dropdownmenu ul li.current_page_ancestor ul li.current_page_ancestor a {
    color: #ed9528;
}

#dropdownmenu ul li.current_page_ancestor ul li:hover ul li a {
    color: #000;
}

#dropdownmenu ul li.current_page_ancestor ul li:hover ul li:hover a {
    color: #ed9528;
}

#dropdownmenu ul li.current_page_ancestor ul li:hover ul li:hover a {
    color: #ed9528;
}

#dropdownmenu ul li.current_page_ancestor ul li:hover ul li.active a {
    color: #ed9528;
}



@media only screen and (max-width: 949px) {
    #dropdownmenu a {
        color: #000;
    }

    #dropdownmenu > ul > li > a {
        border-right: 0px;
        line-height: 45px;
    }

    #dropdownmenu ul li {
        padding: 0px;
    }

    #dropdownmenu ul li:first-child a {
        border-right: 0px;
    }

    #dropdownmenu ul ul {
        left: 15px;
    }

    #dropdownmenu ul ul a {
        padding: 0px 30px;
    }

    #dropdownmenu ul li ul li.menu-item-object-page a {
        background: #dedede;
    }

    #dropdownmenu ul ul ul {
        top: 45px;
        left: 40px;
        width: 100%;
    }

    #dropdownmenu ul ul li.has-sub > a:after {
        top: 0;
        right: 30px;
        margin-top: 0px;
    }

    #dropdownmenu ul ul li:last-child a {
        background: #dedede;
    }
}


/*------------------------------------*\
    Full wide menu
\*------------------------------------*/

/*메가메뉴*/
.menu-top-header {
    display: block;
    height: 35px;
    border-bottom: 1px solid #e3e3e3;
}

.menu-top-box {
    display: block;
    ;
    margin: auto;
    max-width: 1200px;
    margin: 0 auto
}

.menu-top-box > ul > li {
    display: inline-block;
    padding: 6px 15px;
    height: 35px;
    line-height: 20px;
}

/*.menu-top-box > ul > li:nth-child(3){width:350px;}*/
.gnbmenu {
    float: right;
    padding-left: 0;
    text-align: center;
    margin: 0;
}

.gnbmenu > li {
    display: inline-block;
    width: 100px;
}

.gnbmenu > li > a {
    display: block !important;
    padding: 23px 0;
    font-size: 1.3em;
    font-weight: 500;
}

.navlist {
    border-top: 1px solid #e3e3e3;
    width: 100%;
    position: absolute;
    ;
    z-index: 11;
    background-color: #fff;
    margin-top: 0px;
    display: none;
    left: 0;
    height: 170px;
    border-bottom: 2px solid #f19702;
    padding-top: 10px;
}

.navlist_2 {
    max-width: 1200px;
    margin: 0 auto;
}

.navlist_3 {
    float: right;
}

.navlist_3 > ul {
    float: left;
    text-align: center;
    padding-left: 0;
    width: 102px;
    font-size: 1.1em;
}

.navlist_3 > ul > li {
    display: block;
    padding: 7px 10px;
}

.navlist_3 > ul > li > a {}

/*.navlist_3>ul>li>a:hover {width:100%;border-bottom:2px solid #f19702;}*/


.sm-link {
    --uismLinkDisplay: var(--smLinkDisplay, inline-block);

    display: var(--uismLinkDisplay);
    color: var(--uismLinkTextColor);
    position: relative;
    overflow: hidden;
}




/* sm-link_padding-bottom */

.sm-link_padding-bottom {
    --uismLinkLineWeight: var(--smLinkLineWeight, 2px);
    --uismLinkLineColor: var(--smLinkLineColor, #000);

    padding-bottom: var(--uismLinkLineWeight);
    position: relative;

}

.sm-link_padding-bottom::after {
    content: "";
    width: 100%;
    height: var(--uismLinkLineWeight);
    background-color: #f19702;

    position: absolute;
    left: 0;
    bottom: 0;
}

.sm-link3::after {
    transform: translate3d(-110%, 0, 0);
    transition: transform .2s ease-in;
}

.sm-link3:hover::after {
    transform: translate3d(0, 0, 0);
}



/*------------------------------------*\
    Mobile panel menu
\*------------------------------------*/


.ninja-btn2 {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    display: inline-block;
    float: left;
    cursor: pointer;
    /*  padding: 30.285714px 31px;*/
    position: fixed;
    left: 5%;
    top: 3% !important;
    z-index: 2;
    top: 0;
    width: 30px;
    height: 20.18181818px;
}

.ninja-btn2 span,
.ninja-btn2 span:before,
.ninja-btn2 span:after {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background-color: #333;
}

.ninja-btn2 span {
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 9.09090909px;
}

.ninja-btn2 span:before,
.ninja-btn2 span:after {
    content: "";
    position: absolute;
    left: 0;
}

.ninja-btn2 span:before {
    top: -9.09090909px;
}

.ninja-btn2 span:after {
    top: 9.09090909px;
}


/*메뉴 클릭후, 메뉴 버튼을 활성화 시켰을때 속성*/
.ninja-btn2.active span {
    /*  background-color: transparent;*/
}

.ninja-btn2.active span:before,
.ninja-btn2.active span:after {
    top: 0;
    /*    background: #fff;*/
}

/*
.ninja-btn2.active span:before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
}
.ninja-btn2.active span:after {
  -webkit-transition-delay: 0.09s;
  -moz-transition-delay: 0.09s;
  -o-transition-delay: 0.09s;
  -msa-transition-delay: 0.09s;
  transition-delay: 0.09s;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}
*/

.ninja-btn2.active {
    opacity: 0;
}

.panel .left .ninja-btn {
    top: 0 !important;
    background: transparent;
}

.panel.left.active .ninja-btn2 {
    left: 100%;
    margin-left: -90px;
}





@media only screen and (max-width: 950px) {
    .nav {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .moviewno {
        display: none;
    }

    .pcviewno {
        display: block;
    }
}


@media only screen and (min-width: 950px) {
    .panel {
        display: none;
    }

    #mo-menuwarp {
        display: none;
    }

}

@media only screen and (max-width: 949px) {

    /*모바일메뉴 전체*/
    #mo-menuwarp {
        text-align: center;
    }

    .menu-logo {
        padding: 5px 0px;
        width: 50%;
        margin: 0 auto;
    }

    /*
    .active{
        background: #e8e8e87d !important;
    }
*/
    .panel {
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        position: fixed;
        z-index: 9999;
        top: 0;
        height: 100%;
        width: 80%;
        background-color: #383b42;
    }

    .panel .ninja-btn {
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        display: inline-block;
        float: left;
        cursor: pointer;
        padding: 30.285714px 31px;
        position: absolute;
        z-index: 2;
        top: 0;
        width: 30px;
        height: 20.18181818px;
    }

    .panel .ninja-btn span,
    .panel .ninja-btn span:before,
    .panel .ninja-btn span:after {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        width: 30px;
        height: 2px;
        background-color: #333;
    }

    .panel .ninja-btn span {
        position: relative;
        display: inline-block;
        float: left;
        /*  margin-top: 9.09090909px;*/
    }

    .panel .ninja-btn span:before,
    .panel .ninja-btn span:after {
        content: "";
        position: absolute;
        left: 0;
    }

    .panel .ninja-btn span:before {
        top: -9.09090909px;
    }

    .panel .ninja-btn span:after {
        top: 9.09090909px;
    }

    .panel-head {
        background: #dadada;
        text-align: left;
    }

    /*메뉴 클릭후, 메뉴 버튼을 활성화 시켰을때 속성*/
    .panel .ninja-btn.active span {
        background-color: transparent;
    }

    .panel .ninja-btn.active span:before,
    .panel .ninja-btn.active span:after {
        top: 0;
        /*    background: #fff;*/
    }

    .panel .ninja-btn.active span:before {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
    }

    .panel .ninja-btn.active span:after {
        -webkit-transition-delay: 0.09s;
        -moz-transition-delay: 0.09s;
        -o-transition-delay: 0.09s;
        -msa-transition-delay: 0.09s;
        transition-delay: 0.09s;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
    }

    .panel-menu-logo {
        padding: 20px 10px;
        max-width: 200px;
    }

    .panel ul {
        width: 100%;
        list-style-type: none;
        position: absolute;
        z-index: 1;
        margin: 0;
        padding: 0;
        top: 15%;
        left: 0;
        right: 60px;
        height: auto;
        text-align: left;
    }

    .panel ul li,
    .panel ul a {
        display: inline-block;
        float: left;
        width: 100%;
        line-height: 45px;
        padding: 0;
        font-weight: 200;
        color: #fff;
    }

    .panel ul li {
        height: 45px;
        border-top: 1px solid #b3b3b3;
        padding-left: 30px;
        font-size: 14px;
    }

    .panel ul li.menu-label a {
        padding: 11px 0 0 40px;
        height: 100%;
        display: block;
        font-size: 17px;
        text-transform: lowercase;
        color: #fff;
    }

    .panel ul li.menu-label:first-child {
        border-top: 0;
    }

    .panel ul li.menu-contacts a {
        font-size: 16px;
        text-transform: inherit;
    }

    .mo-menu-title {
        padding: 20px;
        line-height: 80px;
        font-size: 30px;
        color: #333;
    }

    /* 안보이는 패널위치고정 */
    .panel-overlay {
        position: fixed;
        top: 0;
        z-index: 9998;
        width: 100%;
        height: 100%;
        display: none;
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }

    .panel-overlay.active {
        background: #0000007d !important;
    }

    .panel.left {
        left: -800px;
    }

    /*패널 버튼 부분 위치*/
    /*
.panel.left .ninja-btn {
  left: 790px;
    background: transparent;
}
*/
    /* 패널이 활성화 되었을때 */
    .panel.left.active {
        left: 0;
        overflow: scroll;
        background: #ffffff !important;
    }

    .panel.left.active .ninja-btn {
        left: 100%;
        margin-left: -90px;
    }

    .panel ul li.sub-menu {
        background: #2e333c;
        padding: 11px 0 0 50px;
    }

}
