/*우커머스    */
    
    .woocommerce a.button:before{content:' \f174' !important}
    .woocommerce a.button{background-color:#00ff0000;padding:10px 5px 10px 0;

        border-radius:0;font-size:13px;}
    .woocommerce a.button:hover{background-color: #00ff0000;}
    .woocommerce div.product .product_title{font-weight: 400;margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid rgba(200,200,200,0.5)}
     .woocommerce ul.products li.product .price{color: #747474;font-size:16px;margin-bottom:0;padding-bottom:10px;border-bottom:1px solid rgb(200,200,200,0.5)}
    .woocommerce div.product p.price{color:#666666;font-size:20px;padding-top:10px;margin-top:10px;border-top:1px solid rgba(200,200,200,0.5)}
    .woocommerce-product-details__short-description p{margin-top:10px;font-size:13px;}
    .woocommerce div.product form.cart .button{background-color: #00ff0000;border:2px solid #747474;color:#747474}
.woocommerce div.product .woocommerce-tabs .panel{display:none !important;}
.woocommerce .woocommerce-result-count{display:none}
.product_meta{display:none}
  .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title{font-weight: 400;}
.orderby{padding:10px;font-size:15px;}
#post-45{padding:10% 0;}
.woocommerce ul.products li.product a{font-size:13px;}

.woocommerce-account .woocommerce-MyAccount-navigation{width:100%;padding:80px 0 0 0}
.woocommerce-account .woocommerce-MyAccount-navigation ul{display:flex;}
.woocommerce-account .woocommerce-MyAccount-navigation ul>li{width:20%;}
.woocommerce-account .woocommerce-MyAccount-navigation ul>li a{display:block; padding:15px 0;font-size:11px;text-align: center;}
.woocommerce-account .woocommerce-MyAccount-content{width:100%;text-align: center;padding:60px 40px;
border-left:1px solid rgba(200,200,200,0.5);border-right:1px solid rgba(200,200,200,0.5);border-bottom:1px solid rgba(200,200,200,0.5)}
.woocommerce-MyAccount-content>p{padding:20px 0;}
.woocommerce-Address-title h3{padding:20px 0;}
.woocommerce button.button{margin-top:20px;}
.woocommerce .col2-set, .woocommerce-page .col2-set{padding:40px 0;}


.woocommerce-MyAccount-navigation-link{border-bottom:1px solid rgba(200,200,200,0.5)}
.woocommerce-MyAccount-navigation-link.is-active{border-left:1px solid rgba(200,200,200,0.5);border-right:1px solid rgba(200,200,200,0.5);border-top:1px solid rgba(200,200,200,0.5);border-bottom:none;}
#main{padding:0 20px  40px 20px;}


.page-numbers li {font-size:16px !important;}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{font-size:13px !important}
.woocommerce div.product div.images .flex-control-thumbs{display:flex;}
.woocommerce div.product div.images .flex-control-thumbs li{width:20%;padding: 2px;}
.single_add_to_cart_button{margin:0 !important;cursor: pointer;}

.woocommerce form .form-row input.input-text{height:40px;border-color:rgb(200,200,200,0.5)}
#woocommerce_product_search-2 button{border:none;cursor: pointer;color: #e8e8e8;background: #464646;border-radius: 5px;margin-left:5px;padding: 4px 10px;}
.woocommerce form .form-row{margin:0 0 10px 0}
#woocommerce-product-search-field-0{border:1px solid rgba(200,200,200,0.5)}
/*    우커머스*/



@media screen and (min-width:768px){
    .woocommerce-account .woocommerce-MyAccount-content{padding:60px 180px;}
    .woocommerce form .form-row label{text-align: left;}
    
    
    .woocommerce-account .woocommerce-MyAccount-navigation ul>li a{font-size: 16px;}
}