body.login div#login p#nav a,
body.login div#login p#backtoblog a {
    color: #7b7b7b !important; /* Your link color. */
}
body.login div#login form#loginform p.submit input#wp-submit{
    background-color:#000000;
    border-color: #000000 #000000 #000000;
    box-shadow: 0 1px 0 #000000;
    text-shadow: none;
}

.login #login_error, .login .message {
    border-left: 4px solid #000000;
    padding: 12px;
    margin-left: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}